.header{
    display: flex;
   font-size: 30px;
   font-weight: 700;
    justify-content: center;
    margin-top: 30px;
}

.Body-Img {
    display: flex;
    justify-content:space-around; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    margin-top: 30px;

}
.Body-Img img{
    width: 100%;
 
}




/* Add more rules for additional images as needed */


